---

services:

  traefik:
    image: traefik:v3.6.4
    container_name: traefik
    restart: unless-stopped
    ports:
      - 9080:8080
      - 443:443
      - 80:80
    volumes:
      - ./config/traefik.yml:/etc/traefik/traefik.yml               # Traefik static config.
      - ./logs:/logs:rw

    networks:
      - proxy

networks:
  proxy:
    external: true

